.formLogin{
    display: flex;
    flex-direction: column;
    margin: 15px auto;
    width: 300px;
    gap: 15px;
    
}

.formLogin input, .formLogin button, .formLogin select, .formLogin textarea{
    padding: 5px 15px;
    background-color: var(--back-accent);
    border: 2px solid var(--gray);
    border-radius: 50px;
}

.formLogin button{
    background-color: var(--green);
    color: var(--back-color);
    text-align: center;
    cursor: pointer;
    transition: all ease 0.3s;
}

.formLogin button:hover{
    background-color: var(--green-hover);
}

.formLogin textarea{
    border-radius: 15px;
}