.container{
    background-color: var(--back-color);
    border: var(--stroke-width) solid var(--gray);
    border-radius: 15px;
    padding: 44px;
    max-width: 950px;
    display: flex;
    gap: 30px;
    flex-direction: column;
    width: 90%;
}

.container p{
    text-align: justify;
    text-indent: 40px; 
}

.container h2{
    text-align: center;
}

.main{
    gap: 80px;
    border-top: var(--stroke-width) solid var(--gray);
    padding: 90px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .container{
        padding: 20px;
        width: 95%;
    }

    .container p{
        text-align: justify;
        text-indent: 15px; 
    }
}